[submodule "textbooks"]
	path = textbooks
	url = https://github.com/JothamWong/textbooks.git
[submodule "nus-cheatsheets"]
	path = nus-cheatsheets
	url = https://github.com/JothamWong/nus-cheatsheets.git
[submodule "Papers"]
	path = Papers
	url = https://github.com/JothamWong/Papers.git
[submodule "col733"]
	path = col733
	url = https://github.com/JothamWong/col733-cloud.git
[submodule "websites"]
	path = websites
	url = https://github.com/JothamWong/websites.git
